.wrapper {
   max-width: 400px;
   margin: '20px auto';
}
.input {
    width: 100%;
    padding: 10px 16px;
    border: px solid var(--text-color);
    background-color: rgba(239, 239, 239, 1);;
    color: var(--text-color);
    font-size: 16px;
    border-radius: 8px;
}
.list {
    list-style: none;
    padding: 10px 16px;
}
.li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
   
}
.link {
    display: flex;
    align-items: center;
    gap: 8px;
}
             
