* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, textarea {
   font-family: "Roboto", sans-serif; 
   
}
main {
  flex: 1;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input {
  font-family: "Roboto", sans-serif; 
  outline: none; 
}
button {
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif; 
  border-radius: 8px;
  color: white;
  padding: 7px 0;
}
li {
  list-style: none;
}
