.layoutContainer {
  display: flex;
}

.mainContainer {
  margin-left: 245px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
    flex: 1;
}