.resetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 390px;
  width: 100%;
  min-height: 525px;
  color: var(--text-color);
}
.containerOne,
.containerTwo {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}
.containerOne {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 0 40px;
  margin-top: 85px;
}
.containerTwo {
  padding: 20px;
  background-color: rgba(250, 250, 250, 1);
}
.lock {
  max-width: 90px;
  width: 100%;
  margin: 20px 0;
}
h3 {
  font-size: 16px;
  color: black;
}
.par {
  color: var(--text-color);
  font-size: 14px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.inputField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  width: 100%;
}
.input {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  color: var(--text-color);
  background-color: rgba(250, 250, 250, 1);
}
.or {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--text-color);
  font-size: 13px;
  margin-bottom: 15px;
}
.line {
  flex: 1;
  border-bottom: 1px solid var(--border-color);
}
.link {
  font-size: 12px;
  margin-bottom: 23px;
}
.parTwo {
  font-size: 14px;
  color: black;
}
.button {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: rgba(0, 149, 246, 1);
}
