.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 75px;
  margin-left: 182px;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 82px;
}

.containerOne {
  display: flex;
  gap: 95px;
  align-items: center;
  width: 100%;
  max-width: 935px;
}

.containerTwo {
  display: flex;
  width: 100%;
}
.postList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
}

.postPhoto {
  max-width: 307px;
  width: 100%;
  min-height: 307px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.allAboutUser {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}
.infoName {
  display: flex;
  align-items: center;
  gap: 20px;
}
.name {
  display: flex;
  align-items: center;
  gap: 23px;
}

.userName {
  font-size: 20px;
  font-weight: 400;
}
.buttonField {
  width: 100%;
}
.infoActive {
  display: flex;
  gap: 40px;
}
.par {
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
.number {
  font-size: 18px;
  font-weight: bolder;
}
.about {
  font-size: 14px;
  line-height: 18px;
}

.website {
  color: rgba(0, 55, 107, 1);
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  gap: 5px;
}
/* Avatar display circle */
.avatarWrapper {
  width: 150px; /* общий размер */
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  ); /* радужная граница */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px; /* толщина белой рамки */
  box-sizing: border-box;
}

.avatarInnerWrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff; /* белая рамка */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px; /* расстояние до фотографии */
  box-sizing: border-box;
}
