.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContent {
  background-color: #ffffff;
  width: 1000px;
  height: 722px;
  margin-left: 100px;
  border-radius: 1rem;
  padding: 1.5rem;
  position: relative;
  overflow: auto; /* for scroll */
}