.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 182px;
  margin-top: 30px;
  margin-bottom: 100px;
  max-width: 610px;
width: 100%;
}
.updateAvatar {
    position: relative;
    border-radius: 20px;
    background: rgba(239, 239, 239, 1);
    padding: 16px;
    width: 100%;
    margin-top: 44px;
    z-index: 1;
}
.about {
    position: absolute;
    top: 16px;
    left: 88px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    z-index: 10;
}
.inputField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 9px;
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.icon {
    position: absolute;
    top: 45px;
    left: 5px;
}
.input {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 16px 13px;
    font-size: 14px;
}
h3 {
    padding: 0;
    font-size: 16px;
}
.formButton {
    margin-top: 70px;
    max-width: 270px;
    width: 100%;
    padding: 7px 0;
    font-size: 14px;
}
.parMessage {
    color: rgb(40, 214, 40);
    font-size: 18px;
    margin-top: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
}